# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
.build/
dist/
build/
.cache/
.pytest_cache/

# Virtual env
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.swp

# Reports
reports/

# Mac / OS
.DS_Store

# Coverage
.coverage
htmlcov/

# Node leftovers
node_modules/